<div class="commentBox">
    <div class="commentBlackBox">T</div>
    <div class="commentContent">
        <form action="">
            <label for="comment">Comment</label><br>
            <textarea name="comment" id="comment" cols="100" rows="10" placeholder="Write your comment"></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>