<div class="createNewPost">
    <div class="createNewPostTitlebox">Create New Post</div>
    <form action="/api/createpost" method="post">
        <label for="newPostTitle">Title</label><br>
        <input type="text" name="newPostTitle" id="newPostTitle"><br>
        <label for="newPostContent">Content</label><br>
        <textarea name="newPostContent" id="newPostContent" cols="100" rows="10" placeholder="Write content"></textarea><br>
        <button type="submit">Create</button>
    </form>
</div>