<div class="editPost">
    <div class="editTitlebox">Edit Post</div>
    <form action="">
        <label for="editTitle">Title</label><br>
        <input type="text" name="editTitle" id="editTitle" value="{}"><br>
        <label for="editContent">Content</label><br>
        <textarea name="editContent" id="editContent" cols="100" rows="10">{}</textarea><br>
        <button type="submit">Update Post</button>
        <button>Delete</button>
    </form>
</div>