{{#each posts as |post| }}
<div class="post">
    <div class="postTitleBox">
        <div class="postTitle">{{post.title}} </div>
        <div class="postCreator">Posted by {{post.creator}} on {{post.data}}</div>
    </div>
    <div class="postContent">
        {{post.content}}
    </div>
</div>
{{/each}}