<div class="userControl">
    <div class="userTitle">
        Log In
    </div>
    <div class="userContent">
        <form action="/api/login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="passwpord">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
            <a href="/signup">Signup Instead</a>
        </form>
    </div>
</div>